<header class="gnav">
  <nav class="bar wrap">
    <a class="brand" href="/"><span style="font-weight:700;font-size:18px;letter-spacing:-.02em">GrENE-net</span></a>
    <div class="navlinks">
      <a class="navlink" href="/">Overview</a>
      <a class="navlink" href="/#network">Network</a>
      <a class="navlink" href="/#pubs">Publications</a>
      <a class="navlink" href="/#data">Data</a>
      <a class="navlink" href="/#software">Software</a>
      <a class="navlink" href="/news/">News</a>
    </div>
    <a class="navcta" href="/#data">Explore the data</a>
  </nav>
</header>
